<h2>Purple blog!</h2>

<% if @entries.count < 1 %>
	<p>There's gonna be some entries going up here soon!</p>
<% else %>
	<%= @entries.each do |entry| %>
		<h3>entry.title</h3>
		<p>entry.body</p>
		<p>entry.created_at</p>
	<% end %>
<% end %>